<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <style>
    nav {
        background-image: url(files/paper.jpeg);
        background-size: fill;
        background-repeat: repeat;
        background-position: fixed;
    }
</style>
    <a class="navbar-brand" href="/">The Lichipedia</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/about">Random Thing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/diceroller">Dice Roller</a>
      </li>
    </ul>
  </nav>