<!DOCTYPE html>

<body>
    
    <h1>The Lichapedia</h1>
    <h2>WOTC makes their apendix really bad an non-descriptive so I fixed it because I was bored</h2>
    <table>
        <tr>
            <td>
                <input type="radio" name="a">Ability Scores</input>
            </td>

            <td>
                <input type="radio" name="a">Alignments</input>
            </td>

            <td>
                <input type="radio" name="a">Backgrounds</input>
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" name="a">Classes</input>
            </td>

            <td>
                <input type="radio" name="a">Conditions</input>
            </td>

            <td>
                <input type="radio" name="a">Damage Types</input>
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" name="a">Equipment</input>
            </td>

            <td>
                <input type="radio" name="a">Equipment Categories</input>
            </td>

            <td>
                <input type="radio" name="a">Feats</input>
            </td>
        </tr>
            <td>
                <input type="radio" name="a">Features</input>
            </td>

            <td>
                <input type="radio" name="a">Languages</input>
            </td>

            <td>
                <input type="radio" name="a">Magic Items</input>
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" name="a">Magic Schools</input>
            </td>

            <td>
                <input type="radio" name="a">Monsters</input>
            </td>

            <td>
                <input type="radio" name="a">Proficiencies</input>
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" name="a">Races</input>
            </td>

            <td>
                <input type="radio" name="a">Rule Sections</input>
            </td>

            <td>
                <input type="radio" name="a">Rules</input>
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" name="a">Skills</input>
            </td>

            <td>
                <input type="radio" name="a">Spells</input>
            </td>

            <td>
                <input type="radio" name="a">Subclasses</input>
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" name="a">Subraces</input>
            </td>

            <td>
                <input type="radio" name="a">Traits</input>
            </td>

            <td>
                <input type="radio" name="a">Weapon Properties</input>
            </td>
        </tr>
    </table>
    <input type="text" id="user">
    <button onclick="api()">click</button>
    <p id="thing"></p>
    
    


    <script>
        async function api() {
            let link = "https://www.dnd5eapi.co/api/";
            let input = document.getElementById("thing");
            let user = document.getElementById("user").value;

            const response = await fetch (link);
            const hold = await response.json();
            JSON.stringify(hold);
            input.innerHTML = hold;
        }
    </script>

</body>