<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>

<header>
  <%- include('./partials/header'); %>
  <script src="js/script.js" type="text/javascript"></script>
  <link rel="stylesheet" href="files/css/style.css">
</header>
<!-- When loading or reloading the page, calls the randomPage() function to grad a random page-->
<body onload="randomPage()">
  <style>
    body {
        background-image: url(files/paper.jpeg);
        background-size: fill;
        background-repeat: repeat;
        background-position: fixed;
    }
</style>
  <h1 id="pg2Title">Random Thing!</h1>
  <p id="pg2Output"></p>
</body>

<footer>
  <%- include('./partials/footer'); %>
</footer>

</html>