<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<header>
    <%- include('./partials/header'); %>
    <script src="js/script.js" type="text/javascript"></script>
    <link rel="stylesheet" href="files/css/style.css">
</header>
<body>
    <style>
        body {
            background-image: url(files/paper.jpeg);
            background-size: fill;
            background-repeat: repeat;
            background-position: fixed;
        }
    </style>
    <h1>The Lichipedia</h1>
    <table id="catInput">
        <tr>
            <td>
                <input oninput="api()" type="radio" name="a" id="ability-scores/">Ability Scores</input>
            </td>

            <td>
                <input oninput="api()" type="radio" name="a" id="alignments/">Alignments</input>
            </td>

            <td>
                <input oninput="api()" type="radio" name="a" id="backgrounds/">Backgrounds</input>
            </td>
        </tr>
        <tr>
            <td>
                <input oninput="api()" type="radio" name="a" id="classes/">Classes</input>
            </td>

            <td>
                <input oninput="api()" type="radio" name="a" id="conditions/">Conditions</input>
            </td>

            <td>
                <input oninput="api()" type="radio" name="a" id="damage-types/">Damage Types</input>
            </td>
        </tr>
        <tr>
            <td>
                <input oninput="api()" type="radio" name="a" id="equipment/">Equipment</input>
            </td>

            <td>
                <input oninput="api()" type="radio" name="a" id="equipment-categories/">Equipment Categories</input>
            </td>

            <td>
                <input oninput="api()" type="radio" name="a" id="feats/">Feats</input>
            </td>
        </tr>
            <td>
                <input oninput="api()" type="radio" name="a" id="features/">Features</input>
            </td>

            <td>
                <input oninput="api()" type="radio" name="a" id="languages/">Languages</input>
            </td>

            <td>
                <input oninput="api()" type="radio" name="a" id="magic-items/">Magic Items</input>
            </td>
        </tr>
        <tr>
            <td>
                <input oninput="api()" type="radio" name="a" id="magic-schools/">Magic Schools</input>
            </td>

            <td>
                <input oninput="api()" type="radio" name="a" id="monsters/">Monsters</input>
            </td>

            <td>
                <input oninput="api()" type="radio" name="a" id="proficiencies/">Proficiencies</input>
            </td>
        </tr>
        <tr>
            <td>
                <input oninput="api()" type="radio" name="a" id="races/">Races</input>
            </td>

            <td>
                <input oninput="api()" type="radio" name="a" id="rule-sections/">Rule Sections</input>
            </td>

            <td>
                <input oninput="api()" type="radio" name="a" id="rules/">Rules</input>
            </td>
        </tr>
        <tr>
            <td>
                <input oninput="api()" type="radio" name="a" id="skills/">Skills</input>
            </td>

            <td>
                <input oninput="api()" type="radio" name="a" id="spells/">Spells</input>
            </td>

            <td>
                <input oninput="api()" type="radio" name="a" id="subclasses/">Subclasses</input>
            </td>
        </tr>
        <tr>
            <td>
                <input oninput="api()" type="radio" name="a" id="subraces/">Subraces</input>
            </td>

            <td>
                <input oninput="api()" type="radio" name="a" id="traits/">Traits</input>
            </td>

            <td>
                <input oninput="api()" type="radio" name="a" id="weapon-properties/">Weapon Properties</input>
            </td>
        </tr>
    </table>
    <div>
        <input oninput="api()" type="text" id="user" class="inputBox">
    </div>
    <p id="thing"></p>
</body>

<footer>
  <%- include('./partials/footer'); %>
</footer>