@font-face {
    font-family: Bookinsanity;
    src: url(files/Bookinsanity.otf);
}
h1 {
    color: darkgreen;
    text-align: center;
    font-size: 50px;
    font-family: Bookinsanity;
}
h2 {
    color: darkblue;
    text-align: center;
    font-size: 25px;
    font-family: Bookinsanity;
}
p {
    font-family: Bookinsanity;
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
}
input {
    font-family: Bookinsanity;
}
table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.inputBox {
    margin: auto;
    display: block;
}
.nav-link {
    display: inline-block;
    text-align: right;
    font-family: Bookinsanity;
}
